
.resume-form {

}

/*.about-resume-form label {
	font-family: Gilroy, sans-serif;
	font-size: 14px;
	color: #ffcc00;
	font-weight: 800;
	padding: 10px 57px;
	width: 50px;
	height: 30px;
	border: 2px solid #ffcc00;
	border-radius: 6px;
}

.about-resume-form label:hover {
	cursor: pointer;
    text-decoration: underline;
    background-color: #fff;
    transition: 0.2s;
}
*/
.about-resume-form div {
	position: relative;
	z-index: 10;
}

.about-resume-form textarea {
	margin-top: 20px;
	width: 630px;
	width: 100%;
	height: 90px;
	z-index: 10;
	border-radius: 	5px;
}

.about-resume-form input[type=text] {
	height: 40px;

	border-radius: 5px;
    border-width: 0;
    font-family: Gilroy, sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding-left: 20px;
}

.about-resume-form input[type=email] {
	height: 40px;
	border-radius: 5px;
    border-width: 0;
    font-family: Gilroy, sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding-left: 20px;
}

.about-resume-form input[type=phone] {
	height: 40px;
	border-radius: 5px;
    border-width: 0;
    font-family: Gilroy, sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding-left: 20px;
}

.about-resume-form input[type=checkbox] {
	margin-right: 0;
	margin-top: 0;
}
.about-resume-form [type=submit],
.about-resume-form button,
.about-resume-form input[type=submit] {
	margin-right: 0;
	margin-top: 0;
	margin-left: 100px;
	width: 174px;
	height: 40px;
	background-color: #ffcc00;
	border-width: 0;
	border-radius: 5px;
}

.about-resume-form input{
	margin-right: 20px;
	margin-top: 20px;
}

.resume-submit-form {
	display: flex;
	margin-top: 20px;
	align-items: center;
}

.resume-submit-form p {
	color: #ffffff;
	font-family: Lato;
	font-size: 14px;
	font-weight: 200;
}

.resume-block {
	padding: 54px 50px 45px 79px;
	background: #333333;
}

.text-resume h2 {
	padding-bottom: 5px;
	font-family: Gilroy, sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #ffcc00;
}

.text-resume p {
	color: #ffffff;
	font-family: Lato, sans-serif;
	font-size: 14px;
	font-weight: 300;
}

#accept-form {
	padding-left: 10px;
	padding-bottom: 4px;
}


.descr-block {
	padding: 20px;
	color: #333333;
	background: #fff;
	font-family: Lato;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

.part-services {
	margin-top: 25px;
	margin-right: 10px;
	position: relative;
	width: 280px;
	height: 282px;
	background: #fff;
}

.part-services h2 {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #ffffff;
	font-family: Gilroy, sans-serif;
	font-size: 20px;
	font-weight: 800;
	text-transform: uppercase;
	text-align: center;
}

.part-services a {
	background: #ffcc00;
	padding: 8px 30px;
	border-radius: 5px;
	color: #333333;
	font-family: Gilroy, sans-serif;
	font-size: 14px;
	font-weight: 700;
}

.part-services .ref {
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fff;
}

.services-blocks {
	display: flex;

	flex-wrap: wrap;
}